CMakeCache.txt
CMakeFiles/**
bin/**
shader/CMakeFiles/**
core/CMakeFiles/**
render/CMakeFiles/**
input/CMakeFiles/**
Makefile
nbproject/**
msvs/**

# CMake files
*.cmake

# CodeBlocks project files
*.cbp

# Eclipse project files
*.cproject
*.project

# CLion project files
.idea

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Misc
grel
log.txt